
/*  grids */
body{
	align-content: center;
	grid-auto-flow: column;
	font-display: center;    
	font-family: inherit, 'Tangerine', serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #0a0a0a;
    background-color: rgb(255, 0, 0);
	color: #eeeaea;
}


/* Basic Element Formatting */

h1 {
	inset-block: center;
}
	

#footer{
	height:50px;
	font-family: inherit, 'Tangerine', serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #f00b0b;
    background-color: black;
	color: #eeeaea;
	border-top:#fa0404 10px solid;
	margin:0;
	padding: 1em;
}

hotchoc {
	align-items: center;
	align-content: top;
}

pottea {

}

